body {
  margin: 0;
  font-family: Roboto;
}

.search-input {
  display: block;
}

.video-card {
  width: 300px;
  vertical-align: top;
}

.thumbnail-img {
  width: 100%;
}

.author-img {
  width: 36px;
  border-radius: 36px;
  margin-top: 8px;
}

.card-details {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.card-title {
  margin-top: 8px;
  font-weight: bold;
}

.card-description {
  margin-left: 8px;
}

.card-author-name {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 0;
}
.card-info {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 12px;
}

